[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/vim-irblack"]
	path = bundle/vim-irblack
	url = https://github.com/wesgibbs/vim-irblack.git
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
